<html>
<head>
  <title>Extract Basic Roots</title>
  <meta charset="utf-8" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8 "/>
</head>
<body>
<table border=1 width=100%>
 <tr>
  <td colspan=2 bgcolor=LightGREEN><font size=+2 face=Times><b>
    Kalkuli Nombron de Ĉiuj Vortetoj el Teksto laŭ la <A HREF=http://akademio-de-esperanto.org/aktoj/aktoj2/bro.html>Baza Radikaro Originala</a></b></font></td>
 </tr>
 <tr>
  <td align=right width=170>File format:<br>
(HWP, DOC, PDF, PPT)</td>
<form enctype="multipart/form-data" action="/upload2" method="post">
  <td align=left>
      <br>
      <input type="file" name="uploadfile" /> (elektu dosieron el via komputilo)
      <input type="hidden" name="token" value="{{.}}"/>
      <br>&nbsp;
      <br>
  </td>
 <tr>
  <td>
  </td>
  <td align=left>
      <input type="submit" value="Upload" />
  </td>
 </tr>
</form>
 </tr>
 <tr>
  <td colspan=2>
   0. <a href=/conv2txt>/conv2txt: Konverti Dosieron al Simpla Tekst-formato</a><br>
   1. <a href=/morphs>/morphs: Morfologia analizo de Esperanto-teksto</a><br>
   2. <a href=/radikoj>/radikoj: Kalkuli radikojn de Esperanto-teksto</a>
  </td>
 </tr>
</table>
</body>
</html>
